@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Pallete */
  /* https://colorhunt.co/palette/ebf0f698ccd3364e68132238 */
  --main-color: #ebf0f6;
  --secondary-color: #98ccd3;
  --accent-color: #364e68;
  --warn-color: #132238;
  /* Fonts */
  --main-font: "Ubuntu", sans-serif;
  --heading-font: "Roboto Condensed", sans-serif;
}

.bg-section-primary {
  background-color: var(--main-color);
}

.bg-section-secondary {
  background-color: var(--secondary-color);
}

html {
  font-family: var(--main-font);
}

.heading-font {
  font-family: var(--heading-font);
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */

.bars {
  display: none;
}

#header,
.nav-bar {
  background-color: var(--accent-color);
}

.nav-bar ul li a {
  display: block;
  margin: 0 0.3rem;
  padding: 1.25rem 1.3rem;
  font-size: 1.25rem;
  border-radius: 15px;
  transition: 0.2s;
}

.nav-bar ul li a:hover {
  background-color: var(--secondary-color);
  color: black;
}

.nav-bar ul li a.active {
  background-color: var(--secondary-color);
  color: black;
}

@media (max-width: 768px) {
  header {
    padding: 0 30px;
  }

  .logo {
    margin-left: 0.5rem;
  }

  .bars {
    display: block;
    cursor: pointer;
  }

  .nav-bar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 100vh;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 60px auto 0 auto;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 20px;
  }
}

/* Section Home */

@media (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile h1 {
    font-size: 3rem;
  }

  .profile img {
    width: 50%;
    height: auto;
  }

  .name {
    font-size: 5rem;
  }

  .career img {
    display: none;
  }

  .career h3 {
    font-size: 2rem;
  }
}

#home div img {
  animation: show 1s ease-in-out;
}

/* Section Skills */

@keyframes display {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

#skills div div img {
  margin: 2rem 1rem 0 1rem;
  width: 12rem;
  height: 4.5rem;

  view-timeline-name: --revealing-image;

  animation-name: display;
  animation-fill-mode: none;
  animation-timeline: --revealing-image;

  animation-range: entry 25% cover 15%;
}

#skills div div img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  #skills h1 {
    font-size: 3rem;
  }

  #skills div div img {
    margin: 2rem 0.5rem 0 0.5rem;
    width: 12rem;
    height: 3.5rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Section Services */

.card {
  padding: 1rem;
  border-radius: 0.75rem;
  background: var(--main-color);
  box-shadow: 0px 2px 4px 0px var(--warn-color);
}

.card-service {
  cursor: pointer;
}

.show {
  animation: show 0.5s ease;
}

.remove-hover {
  pointer-events: none;
}

.card-service:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.knowledge {
  width: 100%;
  margin-bottom: 1rem;
}

.knowledge .technology {
  width: 30%;
}

.knowledge .progress {
  width: 70%;
}

.progress {
  height: 35px;
  width: 100%;
  border: 1px solid var(--warn-color);
  border-radius: 5px;
  background-color: rgba(47, 112, 175, 0.2);
}

.progress-bar {
  height: 100%;
  background: var(--warn-color);
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

@media (max-width: 768px) {
  #services h1 {
    font-size: 3rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 1rem;
  }

  .knowledge {
    display: flex;
    flex-direction: column;
  }

  .knowledge .technology {
    width: 100%;
  }

  .knowledge .progress {
    width: 100%;
  }
}

/* Section Contact */

.send-mail {
  cursor: pointer;
  background-color: var(--warn-color);
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  resize: none;
}

@media (max-width: 768px) {
  #contact h1 {
    font-size: 3em;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact label,
  .contact input {
    width: 90%;
  }
}

/* Footer */

@media (max-width: 768px) {
  .links {
    width: 55%;
  }
}
